{
  "worldPlayerRadar": "NONE",
  "seeUndergroundPlayers": "NONE",
  "opsSeeHiddenPlayers": "false",
  "playerRadarEnabled": "false",
  "playerRadarNamesEnabled": "false",
  "radarEnabled": "NONE",
  "caveMapping": "NONE",
  "surfaceMapping": "ALL",
  "topoMapping": "ALL",
  "biomeMapping": "ALL",
  "teleport": "NONE",
  "teleportEnabled": "false",
  "crossDimTeleport": "false",
  "allowDeathPoints": "true",
  "minimapEnabled": "true",
  "hideCoordinates": "false",
  "globalWaypointsOnly": "false",
  "surfaceRenderRange": "4",
  "caveRenderRange": "0",
  "mobRadarEnabled": "false",
  "villagerRadarEnabled": "false",
  "animalRadarEnabled": "false",
  "showInGameBeacons": "false",
  "allowWaypoints": "true",
  "viewOnlyServerProperties": "false",
  "configVersion": "6.0.5"
}
