{
  "enabled": "true",
  "active": true,
  "position": "TopLeft",
  "sizePercent": "18",
  "shape": "Circle",
  "hudRenderLayer": "BeforeEffects",
  "frameAlpha": "75",
  "terrainAlpha": "88",
  "backgroundAlpha": "0.5",
  "infoSlotFontScale": "1.0",
  "info1Label": "jm.theme.labelsource.blank",
  "info2Label": "jm.theme.labelsource.blank",
  "info3Label": "jm.theme.labelsource.location",
  "info3LabelPosition": "Bottom",
  "info4Label": "duskrain.map.region",
  "info4LabelPosition": "Bottom",
  "showPlayers": "false",
  "showPlayerNames": "false",
  "showOffScreenPlayers": "false",
  "showMobs": "false",
  "showAnimals": "false",
  "showVillagers": "false",
  "showPets": "false",
  "showGrid": "false",
  "showWaypointLabels": "false",
  "waypointIconScale": "0.75",
  "zoomLevel": "256",
  "configVersion": "6.0.5"
}
